html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(31, 31, 31);
}

.home {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity transparenz*/
}

.title {
  margin-left: 10%;
}

.info {
  display: inline;
}

.data {
  display: inline;
  margin-right: 0%;
}

canvas {
  display: block;
  position: absolute;
  z-index: 0;
}