html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(31, 31, 31);
  color: rgb(31, 31, 31);
  font-family: Helvetica;
}

p {
  margin: 0;
  font-size: 10px;
}

h4 {
  margin: 0;
  font-size: 10px;
}

.home {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 256;
}

.scoreContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.scoreField {
  width: 22%;
  display: none;
  flex-direction: column;
}

.startButtonContainer {
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freeride {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  position: absolute;
  z-index: 0;
}

.playbuttonContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.playbuttonLeft {
  border: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  background-color: transparent;
}

.playbuttonRight {
  border: 0;
  padding: 0;
  width: 49.5%;
  height: 100%;
  margin-right: 0%;
  margin-top: 0%;
  background-color: transparent;
}